@use "variables" as var;

:host {
  .activity-list {
    .activity {
      --size: 8px;
      --padding-left: 24px;
      margin-bottom: var.$spacing-sm;

      &-title,
      &-date {
        position: relative;
        font-size: var.$font-size-sm;

        &:before {
          content: "";
        }
      }

      &-title {
        font-weight: 400;
        z-index: 2;

        strong {
          font-weight: 600;
        }

        // Blue dot next to activity name
        &:before {
          display: inline-block;
          width: var(--size);
          height: var(--size);
          margin-right: var(--size);
          background-color: rgba($color: var.$primary-blue, $alpha: 0.4);
          border-radius: var(--size);
          vertical-align: bottom;
        }
      }

      &-date {
        font-weight: 400;
        padding-left: calc(var(--size) * 2);

        // Line after the blue dot
        &::before {
          position: absolute;
          top: 4px;
          left: calc((var(--size) / 2) - 0.25px);
          display: block;
          width: 1px;
          height: calc(100% + 3px + var.$spacing-sm);
          background-color: var.$grey-03;
        }
      }

      // Hide the line on the last activitiy
      &:last-child {
        .activity-date {
          &::before {
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }
  }
}
