<main class="container padding-lg placeholder">
  <article class="flex-center placeholder-content">
    <div class="flex-center">
      <div>
        <img width="176" height="auto" src="logo.svg" alt="" />
        <div class="padding-sm"></div>
        <h1 class="text-lg" [style.textWrap]="'pretty'">
          Welcome to the Omnisient UI Technical Assessment Placeholder Page
        </h1>
        <div class="padding-md"></div>
        <a routerLink="/dashboard" class="button-inline text-md"
          >Go to UI Technical Assessment</a
        >
      </div>
    </div>
    <div>
      <img
        width="88%"
        height="auto"
        src="graphic.png"
        alt="Graphic of people exchanging data"
      />
    </div>
  </article>
</main>
