:root {
  --primary-blue: #1678d1;
  --secondary-blue: #99c9f8;
  --red: #eb4528;
  --green: #75bb34;
  --white: #ffffff;
  --grey-01: #f4f4f5;
  --grey-02: #efeff0;
  --grey-03: #dbdcdd;
  --grey-04: #c7c8cb;
  --grey-05: #b2b5b8;
  --grey-06: #626973;
  --black: #1d242d;
  --text-on-light: var(--black);
  --text-on-dark: var(--white);
}
