<div class="banner" role="banner" aria-label="Page banner">
  <!-- Banner Image -->
  <img
    [src]="imgSrc"
    alt="Background image for user's number of notifications banner message"
    role="img"
    aria-hidden="true"
  />

  <!-- Title and Description -->
  <div>
    <h1 class="banner-title">{{ title }}</h1>
    <p class="banner-description">
      {{
        description || "You have " + notificationsCount + " new notifications"
      }}
    </p>
  </div>

  <!-- Notifications Button -->
  <button
    mat-icon-button
    class="mat-icon-button"
    aria-label="View notifications"
    aria-live="polite"
    aria-describedby="notifications-list"
    [matMenuTriggerFor]="notifications"
    [hidden]="!notificationsCount"
  >
    <mat-icon fontIcon="keyboard_arrow_down" aria-hidden="true"></mat-icon>
  </button>

  <!-- Notifications Dropdown -->
  <mat-menu #notifications="matMenu" aria-label="User menu">
    <ng-container *ngFor="let item of notifications$ | async">
      <button
        (click)="onRead(item)"
        *ngIf="!item.read"
        mat-menu-item
        aria-label="Logout"
      >
        <strong><span class="text-blue">New</span> {{ item.message }}</strong>
        <div class="message">
          <strong class="text-grey"
            ><small>{{ item.timestamp | date: "dd MMM yyyy" }}</small></strong
          >
        </div>
      </button>
    </ng-container>
  </mat-menu>
</div>
